.grid-container {
	height: 300px;
	width: 300px;
	display: flex;
	flex-wrap: wrap;
}

.grid-element {
	height: 50px;
	width: 50px;
	text-align: center;
	background-color: #333;
	color: #eee;
	cursor: pointer;
}
